<ul>
  <li>cat id: <%= @cat_rental_request.cat_id %></li>
  <li>start date: <%= @cat_rental_request.start_date %></li>
  <li>end date: <%= @cat_rental_request.end_date %></li>
  <li>status: <%= @cat_rental_request.status %></li>
</ul>